 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("/images/TheCupcakeCove1-1.jpg");
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 685px;
}

.u-section-1 .u-image-1 {
  width: 451px;
  height: 652px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: -555px auto 0 61px;
}

.u-section-1 .u-text-2 {
  margin: 34px 543px 60px 61px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-1 .u-image-1 {
    inset: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 343px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 123px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: -356px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 492px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -334px;
  }
}